<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-4 border">
                <input type="number" min="0" ng-model="finput">
                <input type="number" min="0" ng-model="sinput">
                <button class="btn btn-danger glyphicon glyphicon-plus" ng-click="add()"></button>
                <button class="btn btn-danger glyphicon glyphicon-minus" ng-click="sub()"></button>
                <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="mult()"></button>
                <button class="btn btn-danger glyphicon glyphicon-italic" ng-click="div()"></button>
                <input type="number" min="0" ng-model="answer" class="inputanswer">
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="script.js"></script>
</body>

</html>