.titlePost {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(119, 1, 127);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    border-radius: 60px;
    padding: 15px;
}

.PostBack {
    background-color: rgba(184, 146, 242, 0.5);
    border-radius: 30px;
    margin-top: 10px;
    padding: 30px;
}

.btnPost{
       font-family: 'Gloria Hallelujah', cursive !important;
    font-size: 20px;
    margin-top: 7px;
}
.PostinputSpace{
    margin: 10px;
}

.selectTxt{
    font-size: 14px !important;
}