html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    padding-bottom: 2%;
    margin-left: 1%;
}

.backgroundColor {
    background-color: rgba(119, 1, 127, 2);
    border-radius: 60px;
    padding: 20px;
    margin: 100px;
}

video {
    border-radius: 100px;
}

.backText {
    font-family: 'Handlee', cursive;
    font-size: 22px;
    color: white;
}

.backLTitle {
    font-size: 180px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    position: relative;
    top: 20px;
}

.backSTitle {
    font-size: 40px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    position: relative;
    left: 110px;
    bottom: 210px;
}

.backpic {
    border-radius: 100x !important;
}

.imgtextRow {
    background-color: rgba(72, 72, 72, 0.2);
    padding: 20px;
    margin: 10px;
    border-radius: 40px;
    font-family: 'Macondo', cursive;
    font-size: 25px;
    color: black;
}

.imgborder {
    border-radius: 40px;
}

.hr {
    border-width: 2px;
    border-style: dotted;
    color: rebeccapurple;
}

.hrr {
    border-width: 1px;
    border-style: solid;
    color: white;
    transform: rotate(90deg);
    width: 300px;
    position: relative;
    top: 150px;
    right: 180px;
}

.buttonPositon {
    margin-top: 20%;
}

.btnOption {
     background-color: rgba(242, 240, 236,0.5) !important;
    font-family: 'Handlee', cursive;
    padding: 5%;
    border-radius: 20px;
    border: solid #77017F 2px;
    margin: 10px;
    font-size: 23px;
    color: #77017F !important;
}

.btnImg {
    width: 80%;
}

.btnTexttitle {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px !important;
    color: #77017F;
    background-color: rgba(72, 72, 72, 0.2);
    padding: 30px;
    border-radius: 50px;
}

.btnTextTxt {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(72, 72, 72, 0.2);
    padding: 30px;
    border-radius: 50px;
}
.titleinbox{
    text-align: center;
}