<div class="col-md-8 col-md-offset-2">
    <p class="homeTitleStyle"> Welcome to TnT Page</p>
</div>

<div class="col-md-8 col-md-offset-2">
    <hr class="hr">
</div>
<!--Video part-->
<div class="col-md-3 col-md-offset-2" >
    <p class="videTitle">The Heaven</p>
</div>
<div class="row videoHome">
    <div class="col-md-8 col-md-offset-2">
        <video autoplay loop width="795" height="450" class="homeVideoStyle">
            <source src="/image/This Is Lebanon.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="col-md-8 col-md-offset-2">
    <hr class="hr">
</div>
<!--  About Us-->


<div class="col-md-12 col-md-offset-2">
    <div class="col-md-8 homeAboutUs">
        <p>About Us</p>
        <hr>
        <p>TnT is a modern Website made for people who want to have tours in specific seasons in order to have best places to visit with special offers from travel & tourism Companies .</p>
    </div>
</div>

<div class="col-md-8 col-md-offset-2">
    <hr class="hr">
</div>
<!-- Views City-->


<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12 col-md-offset-4">
            <p class="thumbnailTitle">Rome</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/cdd9580/2147483647/resize/445x280%5E%3E/crop/445x280/quality/85/?url=/images/destinations/108/main_image_cropped_rome_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Roma is a can't-miss spot on your European tour. The aroma of fresh Italian cooking wafts through alleys and historic sites sit at every turn. The Colosseum, St. Peter's Basilica and the awe-inspiring Trevi Fountain are essential attractions for any traveler. </p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12  col-md-offset-4">
            <p class="thumbnailTitle">Paris</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/289f612/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/86/paris_edited_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Paris is filled with iconic museums (like the Louvre and the Musée d'Orsay), monuments (like the Eiffel Tower and the Arc de Triomphe) and churches (like the Sacré-Cœur and Notre Dame). Still, save some time for drawn-out meals and relaxing at sidewalk cafes. </p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12 col-md-offset-4">
            <p class="thumbnailTitle">London</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/c6d160d/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/82/482151882_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Exploring the world-class British Museum, seeing a musical in the West End, touring the Tower of London and gorging on fish and chips at a local pub are all part of the London experience. However, London's high hotel prices can make budget travelers cringe. </p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12  col-md-offset-4">
            <p class="thumbnailTitle">Venice</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/f6c17d9/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/111/venice_grandcanal_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Venice may conjure images of romantic gondola rides down the Grand Canal, but this City of Water isn't only for swooning lovebirds. With an abundance of theaters, churches, historic sites and notable eateries, all types of travelers will enjoy Venice's charms.</p>
        </div>

    </div>
</div>




<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12 col-md-offset-3">
            <p class="thumbnailTitle">Florence</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/c138760/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/95/main-2016-getty-resized_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Compared to Rome, Firenze gives visitors a taste of a more authentic Italy. Florence boasts renowned museums, stunning architecture and mouth-watering cuisine. You can't miss admiring Michelangelo's David and climbing to the top of the Duomo. </p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12  col-md-offset-3">
            <p class="thumbnailTitle">Barcelona</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/10da5a1/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/97/barcarealmain2_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Barcelona's diverse collection of architecture really makes the city stand out. Gaudi's Parc Güell and La Sagrada Família are impressive, as are La Seu and Montjuïc Castle. When you tire of architecture, relax on the beach or sip sangria along Las Ramblas. </p>
        </div>

    </div>
</div>


<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12 col-md-offset-2">
            <p class="thumbnailTitle">Amsterdam</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/ccffb0e/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/101/new_main-2016-getty-edited_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> There's more to this city than its notorious coffee shop culture and the Red Light District. Bike rides along the city's canals are popular with locals and visitors alike, and stylish streets and noteworthy museums (think the Van Gogh museum) keep travelers coming back.</p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12  col-md-offset-3">
            <p class="thumbnailTitle">Prague</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/fd2db28/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/103/main1_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Visiting Prague is like stepping onto the set of a fairy tale. The gothic architecture impresses visitors of all ages. And the city's love of music is contagious. You'll also appreciate Prague's affordability compared to other captivating European destinations. </p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12 col-md-offset-3">
            <p class="thumbnailTitle">Vienna</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/6d66f5c/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/114/main_vienna_2016_edited_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> This storied city is best known for its music and monarchs. While in Vienna, explore the Habsburg's Schonbrunn Palace and stroll the narrow streets of the Innere Stradt. If you're an art lover, head to the MuseumsQuartier to tour the Museum of Modern Art. </p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12  col-md-offset-3">
            <p class="thumbnailTitle">Tuscany</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/93a1b1c/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/166/gettyimages-524074485_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> This renowned culinary region is full of quaint eateries serving up traditional Italian fare. You can savor Tuscany's rich flavors at charming restaurants in Florence, Siena and Cinque Terre, or head straight to the source on a winery or olive grove tour. </p>
        </div>

    </div>
</div>


<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12 col-md-offset-3">
            <p class="thumbnailTitle">Athens</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/2bb3042/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/90/parthenon_in_spring_main_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Athens was made for history buffs and architecture aficionados, but it also serves as a great European getaway. The capital's laid back lifestyle and incredible food attract the masses just as much as the world-class Acropolis and Parthenon do. </p>
        </div>

    </div>
</div>

<div class="col-md-3 col-md-offset-1 thumbnailhome">
    <div class="caption">
        <div class="col-md-12  col-md-offset-3">
            <p class="thumbnailTitle">Madrid</p>
        </div>
        <div class="col-md-4">
            <img src="http://static.travel.usnews.com/dims4/USNEWS/38d22de/2147483647/resize/324x204%5E%3E/crop/324x204/quality/85/?url=/images/destinations/89/73829851_445x280.jpg" class="imgthumbanil image-responsive">
        </div>
        <div class="col-md-12">
            <p class="thumbnailDsc"><b class="wht-go">Why go:</b> Madrid is easy to navigate and cost-effective. Take advantage of all the opportunities to experience the local culture: Savor an afternoon in Retiro Park, sample tapas at the Mercado San Miguel, cheer on Real Madrid at Bernabéu Stadium and party in Sol. </p>
        </div>

    </div>
</div>

<div class="col-md-8 col-md-offset-2">
    <hr class="hr">
</div>



<div class="col-md-12 col-md-offset-2" ng-show="!token">
    <div class="col-md-8 homeAboutUs">
        <p>Join Us</p>
        <hr>
        <p>To get more Features and to enjoy your time by using Tnt Website just Register in our website </p>
        <div class="col-md-1 col-md-offset-10">
        <a href="#/SignUp"><button class="btn btn-primary regBtn" > Click Here</button></a>
        </div>
    </div>
</div>


<div class="col-md-8 col-md-offset-2" ng-show="!token">
    <hr class="hr">
</div>



