<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="title">Give us your Opinion</p>
    </div>
</div>
<div>
    <div class="row signRow">
       <div class="col-md-8 col-md-offset-2 signinback">
        <div class="col-md-12">
            <label class="TitleFeed">Title : </label>
              <textarea rows="10" cols="100" ng-model="FeedBack" placeholder="Enter your Opinion" class="form-control breakdesComt PostinputSpace"></textarea>
        <div>
            <div class="row ">
              <div class="col-md-5 col-md-offset-4">
                <button ng-click="addFeedBack()" class="btn btn-success form-control btnSign">Submit</button>
            </div>
            </div>
        </div>
    </div>
</div>
</div>