        body {
        background-color: #CCCCCC !important;
    }
    
    .navbar {
        font-family: 'Russo One', sans-serif;
    }
    
    @charset "utf-8";
    article,
    aside,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    #container {
        width: 960px;
        margin-left: 200px;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
    }
    
    header {
        width: 960px;
        font-size: 40px;
        text-align: center;
        background-color: #E6314E;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: whitesmoke;
        margin-bottom: 2%;
        font-family: 'Russo One', sans-serif;
    }
    
    footer {
        width: 960px;
        height: 60px;
        font-size: 35px;
        color: white;
        text-align: center;
        background-color: #E6314E;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        clear: both;
        margin-bottom: 4%;
    }
    
    #content {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        background-color: blanchedalmond;
    }
    
    #content ul {
        list-style-type: none;
    }
    
    #content li {
        float: left;
        width: 175px;
        display: block;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    
    #imgDis {
        width: 200px;
        height: 150px;
    }
    
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    #myImg:hover {
        opacity: 0.7;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        background-color: rgba(80, 78, 78, 0.76);
    }
    /* Modal Content (image) */
    
    btn {
        text-align: center;
    }
    
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* Caption of Modal Image */
    
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /* Add Animation */
    
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /* The Close Button */
    
    .close {
        top: 30px;
        right: 152px;
        color: #a91616 !important;
        position: absolute;
        font-size: 60px !important;
        font-weight: bold !important;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    /* 100% Image Width on Smaller Screens */
    
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
        ul.enlarge span img {
            padding: 2px;
            /*size of the frame*/
            background: #ccc;
            /*colour of the frame*/
        }
        ul.enlarge span {
            /**Style the frame**/
            padding: 10px;
            /*size of the frame*/
            background: #eae9d4;
            /*colour of the frame*/
            /*add a drop shadow to the frame*/
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .75));
            -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .75);
            box-shadow: 0 0 20px rgba(0, 0, 0, .75);
            /*give the corners a curve*/
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            /**Style the caption**/
            font-family: 'Droid Sans', sans-serif;
            /*Droid Sans is available from Google fonts*/
            font-size: .9em;
            text-align: center;
            color: #495a62;
        }
