<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p class="title">For any Question contact our support team</p>
    </div>
</div>
<div>
    <div class="row signRow">
       <div class="col-md-8 col-md-offset-2 signinback">
        <div class="col-md-12">
            <label class="TitleFeed">Title : </label>
              <textarea rows="10" cols="100" ng-model="Contactus" placeholder="Enter your Opinion" class="form-control breakdesComt PostinputSpace"></textarea>
        <div>
            <div class="row ">
              <div class="col-md-5 col-md-offset-4">
                <button ng-click="addContactus()" class="btn btn-danger form-control btnSign">Submit</button>
            </div>
            </div>
        </div>
    </div>
</div>
</div>