<div class="row">
    <div class="col-md-3">
<!--        <p> Share Your Favorites Active With Us</p>-->
    </div>
    <div class="col-md-6">
        <img src="http://www.free-icons-download.net/images/rural-hotel-icon-75049.png">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="http://www.freeiconspng.com/uploads/hotel-png-10.png">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="inputhotel">
                   <p class="photel">Enter image of hotel</p>
                    <input ng-model="image" placeholder="Enter image of hotel" class="form-control">
                    <p class="photel">Enter name of hotel</p>
                    <input ng-model="name" placeholder="Enter name of hotel" class="form-control ">
                    <p class="photel">Select Season</p>
                    <select ng-model="Season" class="form-control">
                       <option value="" selected="selected">Select Season </option>
                        <option value="Fall">Fall</option>
                        <option value="Winter">Winter</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                    </select>
                    <p class="photel">Enter a description of hotel</p>
                    <textarea ng-model="description" placeholder="Enter a description of hotel" class="form-control"></textarea>
                    <p class="photel">Enter a price of hotel per Night</p>
                    <input ng-model="price" placeholder="Enter a price of hotel per Night" type="Number" min="0" class="form-control ">
                    
                        <a  href="#/Hotel" id="btn-warning"><button id="buttonhotel" ng-click="addHotel();addStatus()" class="btn btn-warning">Publish</button></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>