/*
font-family: 'Inknut Antiqua', serif;
font-family: 'Baloo', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Varela Round', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Chewy', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Bangers', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Boogaloo', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Playball', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Neucha', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Alex Brush', cursive;
*/

.navbar {
    margin-bottom: 0 !important;
}

.navtitleImg{
    width: 68px;
    position: relative;
    bottom: 2px;
}

/*
.navtitle,
.navtitle:link,
.navtitle:visited,
.navtitle:hover,
.navtitle:active {
    color: blue !important;
    font-size: 45px !important;
    position: relative;
    top: 8px;
    left: 7px;
    font-family: 'Baloo', cursive;
    text-decoration: none;
    text-decoration: none;
}
*/

.navimg {
    width: 15%;
    position: relative;
    top: 10%;
    margin-left: 1%;
    padding-left: 2%;
}

.navTxt,
.navTxt:link,
.navTxt:visited,
.navTxt:hover,
.navTxt:active {
    color: white !important;
    font-size: 22px;
    position: relative;
    top: 12px;
    left: 7px;
    font-family: 'Baloo', cursive;
    text-decoration: none;
}