.text{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    border: solid 10px darkblue;
    background-color: darkcyan;
    padding: 10px;
}

.btncolor{
    font-size: 30px !important;
}
#start{
     font-size: 20px;
}





body{
    background-image: url(http://images6.fanpop.com/image/photos/37700000/Mario-Jump-GIF-super-mario-bros-37766025-500-470.gif);
     background-size: cover;
    background-repeat: no-repeat;
    height: 1600px;
}

@media(max-width:200px) {
    .container
    {
        width: 100px;
        font-size: 20px;
    }
}
