<div class="row">
    <div class="col-md-7 col-md-offset-3 marktitle">Leave Positive Mark :)
    </div>
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-4 canImg">
            <img src="/image/ok.gif" width="170px">
        </div>
        <div class="col-md-6 col-md-offset-4 ">
            <input ng-model="titlename" class="titlenameCan" placeholder="Enter Your Name">
        </div>
        <div class="col-md-6 col-md-offset-3">
            <textarea class=" form-control textarea" ng-model="addtext" placeholder="Enter Your Comment">
            </textarea>
        </div>
        <div class="col-md-1 col-md-offset-5 addCandidness">
            <button class="btn btn-success" ng-click="add(addtext)">Candidness</button>
        </div>
    </div>

</div>