.text {
    color: greenyellow;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-align: center;
}

.title {
    color: yellow;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-align: center;
}
.h1style{
    margin: 5%;
}

body{
    background-image: url(518151-backgrounds_W3qVPu2.jpg);
}

li{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: yellow;
}

label{
    color: red;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    background-color: aliceblue;
}
img {
    width: 20%;
    border-radius: 25px;
}