<div class="row">
    <div class="col-md-8 col-md-offset-2 titlePost">
        <p> Share Your Favorites Active With Us</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!--add Part-->
        <div class="row">
           <div class="col-md-6"></div>
            <div class="col-md-6">
                <div>
                    <input id="inputoffear" ng-model="image" placeholder="Enter image of Offear" class="form-control">
                    <input id="inputoffear" ng-model="name" placeholder="Enter name of Offear" class="form-control ">
                   <select id="inputoffear" ng-model="Season" class="form-control ">
                       <option value="" selected="selected">Select Season </option>
                        <option value="Fall">Fall</option>
                        <option value="Winter">Winter</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                    </select>
                    <select id="inputoffear" ng-model="location" class="form-control">
                       <option value="" selected="selected">Select Country </option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="USA">USA</option>
                        <option value="UK">UK</option>
                        <option value="Palestine">Palestine</option>
                    </select>
                    <textarea id="inputoffear" ng-model="description" placeholder="Enter a description of Offear" class="form-control"></textarea>
                    <input id="inputoffear" ng-model="price" placeholder="Enter a price of Offear per Night" type="Number" min="0" class="form-control ">
                    <div class="col-md-3 col-md-offset-10">
                        <a href="#/Home" id="btn-warning"><button ng-click="addOffear();addStatus()" class="btn btn-warning">Publish</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>