<div class="col-md-10 col-md-offset-1">
    <div class="row" ng-init="loadDatabyId()">
        <div class="row">
            <div class="col-md-8" ng-if="!item.isShowingEdit">
                <div class="col-md-12 col-md-offset-1">
                    <img ng-src="{{item.image}}" class="img-responsive">
                </div>
                <div class="col-md-12 col-md-offset-1">
                    <a href="#/onePost/{{item._id}}">
                        <p>{{item.name}}</p>
                    </a>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p>{{item.description}}</p>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-3" ng-if="!item.isShowingEdit">
                <!--Delete Part-->
                <a href="#/Home">
                    <button ng-click="deleteItem(item._id)" class="btn btn-danger" title="Remove">X</button>
                </a>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div ng-if="item.isShowingEdit">
                        <div class="col-md-1 col-md-offset-12">
                            <!--Delete Part-->
                            <a href="#/Home">
                                <button ng-click="deleteItem(item._id)" class="btn btn-danger" title="Remove">X</button>
                            </a>
                        </div>
                        <input ng-model="item.name" class="form-control">
                        <input ng-model="item.image" class="form-control">
                        <select ng-model="item.typeTemp" class="form-control">
                            <option>{{item.type}}</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Desserts">Desserts</option>
                            <option value="JuiceAndIceCream">Juice & IceCream</option>
                            <option value="Platters">Platters</option>
                            <option value="Sandwish">Sandwish</option>
                        </select>
                        <textarea ng-model="item.description" class="form-control"></textarea>
                        <div class="col-md-8 col-md-offset-11">
                            <button ng-click="edit(item._id);editType(item._id)" class="glyphicon glyphicon-pencil btn btn-success"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-9">
                <div class="col-md-4">
                    <!--like button-->
                    <div class="button-area">
                        <label>{{item.upVoted}}</label>
                        <button class="btn btn-danger glyphicon glyphicon-thumbs-up" ng-click="like(item._id)" title="Like"></button>
                    </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                    <!--unlike button-->
                    <div class="button-area">
                        <label>{{item.downVoted}}</label>
                        <button class="btn btn-danger glyphicon glyphicon-thumbs-down" ng-click="unlike(item._id)" title="unLike"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <!--add a comment -->
                <button ng-click="showHideAddComment()" class="btn btn-warning" title="Add">Add Comment</button>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <!--edit part-->
                <button ng-click="editShowing()" class="btn btn-warning" title="Edit">Edit</button>
            </div>
            <div class="col-md-2">
                <!--  show Comments-->
                <button ng-click="showHideComment(item._id)" class="btn btn-warning" title="Show">Show Comment</button>
            </div>
        </div>
        <!--add Comment part-->
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div ng-if="item.isShowingAddComment">
                    <textarea ng-model="commentTxt" placeholder="Enter a Comment" class="form-control CommentBox" placeholder="Enter a Comment"></textarea>
                    <div class="col-md-9 col-md-offset-11">
                        <button ng-click="addComment(commentTxt);showHideAddComment()" class="glyphicon glyphicon-plus btn btn-warning" title="Add"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div ng-repeat="comment in item.Comment track by $index">
                    <div ng-if="item.isShowingComment">
                        <div class="col-md-8">
                            <p>{{comment}}</p>
                        </div>
                        <div class="col-md-2 col-md-pull-1">
                            <button ng-click="removeComment($index)" class="glyphicon glyphicon-trash btn btn-danger" title="Remove"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>